<!DOCTYPE HTML>
<html>
	<head>
		<title>Libreria</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="/static/images/avatar.jpg" alt="" /></a>
						<li><a href="https://twitter.com/alepercu6787" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/AlexRomero10" class="icon brands fa-github"><span class="label">Github</span></a></li>
					</ul>
				</div>
			</header>

		<!-- Blog posts -->
		{% block content %}{% endblock %}

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>